@*{{MissionTypeFilter.abr}}*@
@using Resources
<!-- Вы добавили -->
<!-- Вам предложено выполнить -->
<!-- Вы предложили выполнить -->
<!-- Вы самостоятельно выполняете -->
<!-- Вы совместно выполняете -->
<!-- Вы выполняете поручение -->
<!-- Вы отправили для совместного выполнения -->
<!-- Вы отправили для совместного выполнения -->
<!-- Вы контроллируете выполнение -->
<!-- Вы подписаны -->
<!-- Вы перепоручили выполнение (выполняетеся, ожидает, отклонено, добавил?) -->
<!-- Вы выполнили -->
<!-- Вы выполнили, ожидает подтверждения поручителя -->
<!-- Ваше поручение выполнено, ожидает вашего подтверждения -->
<!-- Вы выполнили поручение, поручитель подтвердил -->
<!-- Ваше поручение выполнено, вы подтвердили -->
<!-- Не подтверждено, вы предложили переделать/доделать -->
<!-- Не подтверждено, вам предложено переделать/доделать  -->
<!-- Горизонтальная колонка сверху -->

<div id="HeaderMenu">
    <!--Хлебные крошки -->
    <!-- href="#/MineMission/{{types.all.abr}}"  и убрать return false-->
    <div id="BreadCrumbs">
        <b> Найденные намерения</b>&nbsp;<span class="glyphicon glyphicon-star hidden indicator" id="searchIndicator" aria-hidden="true"></span>

        <!--\ <input id="NewMission" maxlength="35" type=text placeholder="поиск">-->
    </div>
    <!--//Хлебные крошки -->
    <!--Выпадающее меню -->
    <div class="dropdown">
        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">@Language.All </a>
        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <span class="caret"></span> </a>
        <ul class="dropdown-menu" style="font-size:13px; ">
            <li><a change-mission-prop-filter="onlyIsActive" need-change-dropdown-title>Актуальные</a></li>
            <li><a change-mission-prop-filter="onlyIsDone" need-change-dropdown-title>Выполненные</a></li>
            <li><a change-mission-prop-filter="onlyIsPublic" need-change-dropdown-title>Открытые</a></li>
            <li><a change-mission-prop-filter="onlyIsEntrusted" need-change-dropdown-title>Порученные (активные)</a></li>
            <li><a change-mission-prop-filter="onlyIsAdded" need-change-dropdown-title>Добавленные (но неактивные)</a></li>
            <li><a change-mission-prop-filter="onlyIsDeactive" need-change-dropdown-title>Приостановленные</a></li>
            <li><a change-mission-prop-filter="onlyIsDeleted" need-change-dropdown-title>Удаленные</a></li>
            <li class="displayNone"><a change-mission-prop-filter need-change-dropdown-title>Все</a></li>
        </ul>
    </div>
    <!--//Выпадающее меню -->






</div>
<!-- //Горизонтальная колонка сверху -->
<!--
var InterplayStage = {
    Sent: 1,
    Received: 2,
    UserAccepted: 3,
    ImAccepted: 4,
    UserCanceled: 5,
    ImCanceled: 6,
    UserDeleted: 7,
    ImDeleted: 8
    -->

<div id="TaskContent" class="scrollList">
    
    <!-- Popover -->
    <div id="popoverSuggestedInfoToMe" class="hidden" style="font-size:12px;">
        <div class="popover-heading"><span style="font-size:12px;">Вы предложили выполнить</span></div>
        <div class="popover-body"> <span style="font-size:12px;color:#5f5f5f">Отправлено 12.11.2017 пользователю </span> <br /><span class="textInside" style="font-size:12px; color:black"></span> </div>
    </div>
    <!-- // Popover -->
    <!-- Popover -->
    <div id="popoverSuggestedInfoFromMe" class="hidden">
        <div class="popover-heading"><span style="font-size:12px;">Вам предложено выполнить</span></div>
        <div class="popover-body"><span style="font-size:12px;;color:#5f5f5f">Получено 12.11.2017 от пользователя</span> <br /><span class="textInside" style="font-size:12px; color:black"></span> </div>
    </div>
    <!--// Popover -->
    <!-- Popover -->
    <div id="popoverVisibilityMenu" class="hidden" >
        <div class="popover-heading"><span style="font-size:12px;">Кто видит его у меня</span></div>
        <div class="popover-body" >
            <span class="BrightWhenHover" change-intent-visiblefor="Nobody">Никто</span> 
            <br />
            <span class="BrightWhenHover" change-intent-visiblefor="MiniGroup">Некоторые <a>(5)</a></span> 
            <br />
            <span class="BrightWhenHover" change-intent-visiblefor="Group">Группа <a>Nike</a></span> 
            <br />
            <span class="BrightWhenHover" change-intent-visiblefor="All">Все пользователи</span> 
            @*<span class="textInside" style="font-size:12px; color:black"></span>*@ 
        </div>
    </div>
    <!--// Popover -->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ИНТЕНТ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!-- |MissionFilter:MissionTypeFilter:MissionPropFilter -->
    <!-- ng-init="mission=intent.Mission" -->
    <div class="ItemMission" ng-controller="MissionController" ng-repeat="mission in fillingArray" >
        <!-- Заголовок Mission-->
        
        <a href="#" class="list-item-mission" style="height:90px" keep-selected-item ng-controller="StatController" ng-init="mission=$parent.mission">
            <table style="margin-left:-10px;">
                <tr>
                    <td style=" text-align:center; width:20px; ">
                        <div style=" width 20px; text-align:left; padding-left:3px">


                            <!--Иконки о том, что это порученное намерение (мной или мне) -->
                            @*<a class="PopoverMissionVisibility" style="text-decoration: none; color:#8d8d8d; "
                                   init-popover="#popoverSuggestedInfoFromMe"
                                   text-inside="" data-placement="left"
                                   ng-if="mission.InteractionId.name!=progress.user.name &&
                                    (progress.InterplayStage==InterplayStage.UserAccepted
                                    )">
                                    <span class="glyphicon glyphicon-share-alt" style="color:rgb(154, 154, 154); font-size:13px; " popover-with-span="hover"></span>
                                </a>*@


                            <a class="PopoverMissionVisibility" style="text-decoration: none; color:#8d8d8d; "
                               init-popover="#popoverSuggestedInfoToMe"
                               text-inside="{{itemMission.PartnerId}}" data-placement="left"
                               ng-if="progress.PartnerId.name!=progress.user.name &&
                                (progress.InterplayStage==InterplayStage.ImAccepted
                                )">
                                <span class="glyphicon glyphicon-share-alt flipH" style="color:rgb(154, 154, 154); font-size:13px; " popover-with-span="hover"></span>
                            </a>
                            <!-- //Иконки о том, что это порученное намерение (мной или мне) -->

                        </div>









                    </td>
                    <td>
                        <div class="TaskName" style="width:350px"><span class="Name collapsed"  show-details="MissionDetails">{{mission.Name}}</span><span class="glyphicon glyphicon-star hidden indicator" aria-hidden="true"></span> </div>
                    </td>
                    <td>
                        <div class="InfoTask" show-details="Comments" onclick="return false">{{typesArr[mission.Type].name}}</div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="MissionLink" style="font-size:11px;">
                            <!-- Секция действий с Mission -->
                            <div style="display:inline-table; ">
                                <span href="#" class="UsersList" style="display: table-cell; vertical-align: middle; padding-right:3px;">{{mission.StatOfMission.AddStat}}</span>
                                <div>
                                    <div class="Info2">Добавили</div>
                                </div>
                            </div> &nbsp;
                            <div style="display:inline-table; ">
                                <span href="#" class="UsersList" style="display: table-cell; vertical-align: middle; padding-right:3px;">{{mission.StatOfMission.MakeStat}}</span>
                                <div>
                                    <div class="Info2">Выполняют</div>
                                </div>
                            </div> &nbsp;

                            <div style="display:inline-table; ">
                                <span href="#" class="UsersList" style="display: table-cell; vertical-align: middle; padding-right:3px;">{{intent.StatOfIntent.Observe}}</span>
                                <div>
                                    <div class="Info2">Подписаны на вас</div>
                                </div>
                            </div> &nbsp;

                          </div>
                    </td>
                    <td>
                        <!-- Секция пользователя создавшего -->
                        <div  class="" style="float:right; font-size:11px; color:#8d8d8d; margin-top:-7px;">


                            
                            <a class="PopoverMissionVisibility" style="text-decoration: none; color:#8d8d8d; "
                               init-popover="#popoverVisibilityMenu"
                               text-inside="" data-placement="right">
                                <span style="color:rgb(154, 154, 154); font-size:11px; " popover-with-span="click">
                                   {{mission.User.Email}}
                                </span>
                            </a>


                        </div>
                        <!-- //Секция пользователя создавшего// -->
                    </td>
                </tr>
            </table>
            <table style="margin-top:-5px;margin-left:-10px;">
                <tr>
                    <td style="width:20px;"><div style="width:20px;"></div></td>
                    <td style=" height:30px; ">

                        
                        
                            <div ng-if="mission.UserId==mission.Intent.UserId">
                                <div style="height:30px;" class="outer" ng-if="mission.Intent.State!=States.Deleted && mission.Intent.State!=null"><span class="MiniLabelAction">Вы создали</span>
                                    @*<span class="MiniButtonAction ShowAfter2s" remove-mission-at-mine-intents="false">Убрать</span>*@
                                    @* - удаляет окончательно*@

                                    @*<span class="MiniButtonAction ShowAfter3s">Предложить</span>
                    <span class="MiniButtonAction ShowAfter3s" change-intent-state="Deleted"><span class="glyphicon glyphicon-remove" style="font-size:10px;"></span></span>*@
                                </div>


                                <div style="height:30px;" class="outer" ng-if="mission.Intent.State==States.Deleted || mission.Intent.State==null" index={{$index}}><span class="MiniLabelAction">Вы создали и удалили у себя</span>
                                    <span class="MiniButtonAction ShowAfter2s" add-mission-to-mine-intents>Вернуть</span>
                                    @* - удаляет окончательно*@

                                    @*<span class="MiniButtonAction ShowAfter3s">Предложить</span>
                    <span class="MiniButtonAction ShowAfter3s" change-intent-state="Deleted"><span class="glyphicon glyphicon-remove" style="font-size:10px;"></span></span>*@
                                </div>
                            </div>
                            <div ng-if="mission.UserId!=mission.Intent.UserId">
                                <div style="height:30px;" class="outer" ng-if="mission.Intent!=null && mission.Intent.State!=States.Deleted" index={{$index}}><span class="MiniLabelAction">Вы добавили</span>
                                    <span class="MiniButtonAction ShowAfter2s" remove-mission-at-mine-intents="false"> Убрать</span>
                                    @* - удаляет окончательно*@

                                    @*<span class="MiniButtonAction ShowAfter3s">Предложить</span>
                    <span class="MiniButtonAction ShowAfter3s" change-intent-state="Deleted"><span class="glyphicon glyphicon-remove" style="font-size:10px;"></span></span>*@
                                </div>

                                <div style=" height:30px;" class="outer" ng-if="mission.Intent==null" index={{$index}}><span class="MiniButtonAction" add-mission-to-mine-intents>Добавить к себе</span>
                                    @*<span class="MiniButtonAction ShowAfter2s" change-intent-state="Paused">Приостановить</span>
                    <span class="MiniButtonAction ShowAfter3s">Предложить</span>
                    <span class="MiniButtonAction ShowAfter3s" change-intent-state="Added"><span class="glyphicon glyphicon-remove" style="font-size:10px;"></span></span>*@
                                </div>

                                <div style=" height:30px;" class="outer" ng-if="mission.Intent!=null && mission.Intent.State==States.Deleted" index={{$index}}><span class="MiniLabelAction">Вы добавили, а затем удалили</span>
                                    <span class="MiniButtonAction ShowAfter2s" add-mission-to-mine-intents>Добавить</span>
                                    @*<span class="MiniButtonAction ShowAfter2s" change-intent-state="Paused">Приостановить</span>
                    <span class="MiniButtonAction ShowAfter3s">Предложить</span>
                    <span class="MiniButtonAction ShowAfter3s" change-intent-state="Added"><span class="glyphicon glyphicon-remove" style="font-size:10px;"></span></span>*@
                                </div>
                                <!-- // Добавленные мной самостоятельные, имеющие отношение только ко мне -->
                            </div>





<td style=" width:100px; text-align:right">
                        <canvas style="width:100px; height:18px" class="example" show-stats=week></canvas>

                    </td>
                </tr>
            </table>
        </a>
        <!-- //Заголовок Mission-->
        <!-- Секция описания и мотивации -->
        <div class="DetailsBox collapse collapse Comments">
            <blockquote style="font-size:12px; width:480px">
                {{mission.Description}}
                <image src="prev.jpg"></image>
            </blockquote>
        </div>
        <!-- //Секция описания и мотивации// -->
        


        <div ng-switch on="typesArr[mission.Type].abr">
            <div ng-switch-when="quicklist">
                @Html.Partial("~/Views/Search/SearchQuicklist.cshtml")
            </div>

            <div ng-switch-when="challenge">
                @Html.Partial("~/Views/Search/SearchChallenge.cshtml")
            </div>

            <div ng-switch-when="regular">
                @Html.Partial("~/Views/Search/SearchRegular.cshtml")
            </div>

            <div ng-switch-when="remind">
                @Html.Partial("~/Views/Search/SearchRemind.cshtml")
            </div>
        </div>




    </div>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~// ИНТЕНТ //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


</div>




